<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hvisions.mes.xa.postgresqlMapper.MaterialPostgreMapper">

    <select id="selectPuArrivalVouchById" resultType="com.hvisions.mes.domain.PuArrivalvouch">
        select
        cacc_id,id,ccode,ddate,cvencode,cdepcode,cpersoncode,cbustype,isubrows,cmemo,cmaker,cverifier
        from pu_arrivalvouch
        where id = #{id}
    </select>

    <select id="selectPuArrivalVouchsByIdAndStoreroomCode" resultType="com.hvisions.mes.domain.PuArrivalvouchs">
        select
        cacc_id,id,ccode,iarrsid,irowno,cwhcode,cinvcode,iquantity,cbatch,dvdate,dmakedate,podid,cpocode,ipodrowno,sodid,csocode,isodrowno
        from pu_arrivalvouchs
        where id = #{parentId} and cwhcode = #{storeroomCode}
    </select>

    <insert id="insertRdrecord01" useGeneratedKeys="true">
        insert into rdrecord01(cacc_id, id, ccode, ddate, cvencode, cdepcode, cpersoncode, cwhcode,  cbustype, cordercode, isubrows, cmemo, cmaker, cverifier, dcreatedate,  berpisread, bistoerp,cguid)
        values (#{caccId} ,#{id} ,#{ccode} ,#{ddate} ,#{cvencode} ,#{cdepcode} ,#{cpersoncode} ,#{cwhcode} ,#{cbustype} ,#{cordercode} ,#{isubrows} ,#{cmemo} ,#{cmaker} ,#{cverifier} ,#{dcreatedate} ,#{berpisread} ,#{bistoerp},#{cguid}  )
    </insert>

    <insert id="insertRdrecords01">
        <selectKey keyProperty="irowno" resultType="integer" order="BEFORE">
            select coalesce(max(irowno),0) + 1 as irowno from rdrecords01 where id = #{id} and cguid = #{cguid}
        </selectKey>
        insert into rdrecords01(cguid,cacc_id, id, ccode, irdsid, irowno, cinvcode, iquantity, cbatch, dvdate, dmakedate, podid, cpocode, ipodrowno, iarrsid, carrcode, iarrrowno, dcreatedate, berpisread, bistoerp)
        values (#{cguid} ,#{caccId} ,#{id} ,#{ccode} ,(select coalesce(max(irdsid),0) + 1 as irdsid from rdrecords01),#{irowno} ,#{cinvcode} ,#{iquantity} ,#{cbatch} ,#{dvdate} ,#{dmakedate} ,#{podid} ,#{cpocode} ,#{ipodrowno} ,#{iarrsid} ,#{carrcode} ,#{iarrrowno} ,#{dcreatedate} ,#{berpisread} ,#{bistoerp})
    </insert>

    <update id="updateMomMoallocate">
        update "Mom_moallocate" set "IssQty" = #{amount} where "AllocteId" = #{allocateId}
    </update>

    <select id="selectMaxIdFromRdrecord01" resultType="int">
        select coalesce(max(id),0) + 1 from rdrecord01
    </select>
</mapper>
