<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hvisions.mes.xa.sqlServerMapper.WithdrawalSqlServerMapper">
    <insert id="insertRdrecord11">
        insert into "Rdrecord11"("cAcc_Id", "Id", "cCode", "dDate", "cVenCode",
                                 "cDepCode", "cPersonCode", "cWhCode", "iSubRows", "cMaker",
                                  "dCreateDate", ctype,cguid,berpisread)
        values (#{cAccId} ,#{id} ,#{cCode} ,#{dDate} ,#{cVenCode} ,#{cDepCode} ,#{cPersonCode} ,#{cWhCode} ,
                #{iSubRows} ,#{cMaker} ,GETDATE(),'MES',#{cguid},0 )
    </insert>

    <insert id="insertRdrecords11">
        <selectKey keyProperty="iRowNo" resultType="integer" order="BEFORE">
            select coalesce(max("iRowNo"),0) + 1 as iRowNo from "Rdrecords11" where "Id" = #{id} and  cguid = #{cguid}
        </selectKey>
        insert into "Rdrecords11"( "cAcc_Id", "Id", "cCode", "iRdsId",
                "iRowNo", "cInvCode", "iQuantity", "cBatch",
                 "dCreateDate",ctype, cguid,berpisread)
        values (
              #{cAccId} ,
              #{id} ,
              #{cCode} ,
             (select coalesce(max("iRdsId"),0) + 1 as iRdsId from "Rdrecords11") ,
              #{iRowNo} ,
              #{cInvCode} ,
              #{iQuantity} ,
              #{cBatch} ,
              GETDATE() ,
              'MES' ,
              #{cguid},
              0
        )
    </insert>
</mapper>
