<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvisions.mes.mapper.PageMapper">
    <select id="selectMenuId" resultType="String">
        select
        p.menu_id
        from
        menu p
        where
        p.url=#{url} and p.eq_id=-1
    </select>
</mapper>